{% extends "global_layout.html" %}
{% block content %}

<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <a class="btn btn-primary" id="show-btn" href="/project">Back</a>
                {% if worker|length == 0 %}
                    <h1 style="margin-top: 5rem;">Nothing found!</h1>
                {% else %}
                    <div class="table-responsive">                        
                        <table class="table">
                            <thead>
                                <tr>
                                    
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Researcher ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for w in worker %}
                                    <tr>
                                        <td> {{ w.first_name }} </td>
                                        <td> {{ w.last_name }} </td>
                                        <td> {{ w.researcher_id }} </td>                                       
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
