{% extends "global_layout.html" %}
{% block content %}
<style>
td {
  
  vertical-align: middle;
}
th {
    
    vertical-align: middle;
  }</style>

<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
     <!--       <div class="card" id="card-container" style="width: 200rem;"> -->
                <div class="card-body" id="card">
                
                    <div class="table-responsive">                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <form action =""   method = "post">
                                        <p>Min Start Date:
                                            <input type = "text" name="date" />
                                            Max Duration:
                                            <input type = "text" name="dur" />
                                            Executive ID:
                                            <input type = "text" name="exec_id" />
                                            <input type = "submit" name="submit" />
                                        </p>
                                    </form>
                                    <a class="btn btn-primary" id="show-btn" href="/project/create">Add new Project</a>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Summary</th>
                                    <th>Funding</th>
                                    <th>Exec. ID</th>
                                    <th>Pr. ID</th>   
                                    <th>Found. ID</th>   
                                    <th>Manager ID</th>
                                    <th>Evaluator ID</th>
                                    <th>Ev. Date</th>
                                    <th>Ev. Grade</th>                                       
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in project %}
                                    <tr>
                                        <td> {{ p.ID }} </td>
                                        <td> {{ p.Title }} </td>
                                        <td> {{ p.Start_Date }} </td>
                                        <td> {{ p.End_Date }} </td>
                                        <td> {{ p.Summary }} </td>
                                        <td> {{ p.Funding }} </td>
                                        <td> {{ p.Executive_ID }} </td>
                                        <td> {{ p.Program_ID }} </td>
                                        <td> {{ p.Foundation_ID }} </td>
                                        <td> {{ p.Researcher_ID_Boss }} </td>
                                        <td> {{ p.Researcher_ID_eval }} </td>
                                        <td> {{ p.Evaluation_date }} </td>
                                        <td> {{ p.Evaluation_Grade }} </td>
                                        <td>
                                            <a type="button" onclick="setModalFields(this)"
                                            data-toggle="modal"
                                            data-ID="{{ p.ID }}"
                                            data-Title="{{ p.Title }}"
                                            data-Start_Date= "{{ p.Start_Date }}"
                                            data-End_Date="{{ p.End_Date }}"
                                            data-Summary="{{ p.Summary }}"
                                            data-Funding="{{ p.Funding }}"
                                            data-Executive_ID="{{ p.Executive_ID }}"
                                            data-Program_ID="{{ p.Program_ID }}"
                                            data-Foundation_ID="{{ p.Foundation_ID }}"
                                            data-Researcher_ID_Boss="{{ p.Researcher_ID_Boss }}"
                                            data-Researcher_ID_eval="{{ p.Researcher_ID_eval }}"
                                            data-Evaluation_date="{{ p.Evaluation_date }}"
                                            data-Evaluation_Grade="{{ p.Evaluation_Grade }}"
                                            data-bs-toggle = "modal"
                                            data-bs-target="#editModal">
                                                <i class="fa fa-edit"></i>
                                                
                                            </a>
                                        </td>
                                        <td>
                                            <button style = "all: unset; cursor: pointer;" type = "button"
                                            data-bs-toggle = "modal" data-bs-target = "#deleteModal"
                                            data-ID = "{{ p.ID }}" onclick = "setDeleteModalFields(this)">
                                                <i class = "fa fa-trash"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button style = "all: unset; cursor: pointer;" type = "button"
                                            data-bs-toggle = "modal" data-bs-target = "#infoModal"
                                            data-ID = "{{ p.ID  }}" onclick = "setInfoModalFields(this)">
                                                <a class = "btn btn-primary" id="show-btn">workers</a>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
               
             <!--   </div>  -->
            </div>
        </div>
    </div>
</div>

<!-- Info modal -->
<div class = "modal fade" id="infoModal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title" id = "infoModalLabel">Interested in this Project?</h5>
                <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
            </div>
            <div class = "modal-body">
                Now you will see the researchers that work on it.
            </div>
            <div class = "modal-footer">
                <button type = "button" class = "btn btn-secondary" data-bs-dismiss = "modal">Close</button>
                <form id = "info-modal-form">
                    <input type = "submit" class = "btn btn btn-success" value = "Show me">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit modal -->
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Project</h4>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    {{ form.hidden_tag() }}
                    <div style="text-align: center;">
                        <input type="text" id="ID" readonly>
                        {{ form.Title(id = "Title", required = TRUE) }}
                        {{ form.Start_Date(id = "Start_Date", required = TRUE) }}
                        {{ form.End_Date(id = "End_Date", required = TRUE) }}
                        {{ form.Summary(id = "Summary", required = TRUE) }}
                        {{ form.Funding(id = "Funding", required = TRUE) }}
                        {{ form.Executive_ID(id = "Executive_ID", required = True) }}
                        {{ form.Program_ID(id = "Program_ID", required = TRUE) }}
                        {{ form.Foundation_ID(id = "Foundation_ID", required = TRUE) }}
                        {{ form.Researcher_ID_Boss(id = "Researcher_ID_Boss", required = TRUE) }}
                        {{ form.Researcher_ID_eval(id = "Researcher_ID_eval", required = True) }}
                        {{ form.Evaluation_Date(id = "Evaluation_Date", required = TRUE) }}
                        {{ form.Evaluation_Grade(id = "Evaluation_Grade", required = TRUE) }}
                    </div>
                      
                </form>
            </div>
            <div class="modal-footer">
                {{ form.submit(class = "btn btn btn-success", form = "modal-form", value = "Update") }}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Delete modal -->
<div class = "modal fade" id="deleteModal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title" id = "deleteModalLabel">Delete Project</h5>
                <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
            </div>
            <div class = "modal-body">
                Are you sure?
            </div>
            <div class = "modal-footer">
                <button type = "button" class = "btn btn-secondary" data-bs-dismiss = "modal">Close</button>
                <form id = "delete-modal-form">
                    <input type = "submit" class = "btn btn-danger" value = "Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function setModalFields(row) {
        document.getElementById("ID").value = row.getAttribute("data-ID");
        document.getElementById("Title").value = row.getAttribute("data-Title");
        document.getElementById("Start_Date").value = row.getAttribute("data-Start_Date");
        document.getElementById("End_Date").value = row.getAttribute("data-End_Date");
        document.getElementById("Summary").value = row.getAttribute("data-Summary");
        document.getElementById("Funding").value = row.getAttribute("data-Funding");
        document.getElementById("Executive_ID").value = row.getAttribute("data-Executive_ID");
        document.getElementById("Program_ID").value = row.getAttribute("data-Program_ID");
        document.getElementById("Foundation_ID").value = row.getAttribute("data-Foundation_ID");
        document.getElementById("Researcher_ID_Boss").value = row.getAttribute("data-Researcher_ID_Boss");
        document.getElementById("Researcher_ID_eval").value = row.getAttribute("data-Researcher_ID_eval");
        document.getElementById("Evaluation_Date").value = row.getAttribute("data-Evaluation_Date");
        document.getElementById("Evaluation_Grade").value = row.getAttribute("data-Evaluation_Grade");
        document.getElementById("modal-form").action = "/project/update/" + row.getAttribute("data-ID");
        document.getElementById("modal-form").method = "POST";
        // document.getElementById("submit").addEventListener("click", (e) => {e.preventDefault();});
        // commented line above would prevent the default behavior of the submit button, that is, sending the
        // form data with a post request to the determined address and subsequently closing the pop-up
    }

    function setDeleteModalFields(row) {
        document.getElementById("delete-modal-form").action = "/project/delete/" + row.getAttribute("data-ID");
        document.getElementById("delete-modal-form").method = "POST";
    }

    function setInfoModalFields(row) {
        document.getElementById("info-modal-form").action = "/project/" + row.getAttribute("data-ID");
        document.getElementById("info-modal-form").method = "POST";
    }
</script>
{% endblock content %}
