{% extends "global_layout.html" %}
{% block content %}

<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            
                <div class="card-body" id="card">
                {% if university|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Universities found!</h1>
                {% else %}
                    <div class="table-responsive">                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <a class="btn btn-primary" id="show-btn" href="/university/create">Add new University</a>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Abbreviation</th>
                                    <th>Postal Code</th>
                                    <th>Street</th>
                                    <th>Street Number</th>
                                    <th>City</th>
                                    <th>MinEdu Budget ($)</th>
                                    <th>Phones</th>                                      
                                    <th></tr>
                                    <th></tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in university %}
                                    <tr>
                                        <td> {{ c.id }} </td>
                                        <td> {{ c.name }} </td>
                                        <td> {{ c.abbreviation }} </td>
                                        <td> {{ c.postal_code }} </td>
                                        <td> {{ c.street }} </td>
                                        <td> {{ c.street_number }} </td>
                                        <td> {{ c.city }}</td>
                                        <td> {{ c.min_edu_budget }} </td>
                                        <td> {{ c.phones }} </td>
                                        <td>
                                            <a type="button" onclick="setModalFields(this)"
                                            data-toggle="modal"
                                            data-ID="{{ c.id }}"
                                            data-Name="{{ c.name }}"
                                            data-Abbreviation= "{{ c.abbreviation }}"
                                            data-Postal_Code="{{ c.postal_code }}"
                                            data-Street="{{ c.street }}"
                                            data-Street_Number="{{ c.street_number }}"
                                            data-City="{{ c.city }}"
                                            data-min_edu_budget="{{ c.min_edu_budget }}"
                                            data-bs-toggle = "modal"
                                            data-bs-target="#editModal">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <button style = "all: unset; cursor: pointer;" type = "button"
                                            data-bs-toggle = "modal" data-bs-target = "#deleteModal"
                                            data-ID = "{{ c.id }}" onclick = "setDeleteModalFields(this)">
                                                <i class = "fa fa-trash"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button style = "all: unset; cursor: pointer;" type = "button"
                                            data-bs-toggle = "modal" data-bs-target = "#phoneModal"
                                            data-ID = "{{ c.id }}" onclick = "setPhoneModalFields(this)">
                                            <a class = "btn btn-primary" id="show-btn">Add Phone</a>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            
        </div>
    </div>
</div>

<!-- Edit modal -->
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit University</h4>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    {{ form.hidden_tag() }}
                    <div style="text-align: center;">
                        <input type="text" id="ID" readonly>
                        {{ form.name(id = "Name", required = TRUE) }}
                        {{ form.abbreviation(id = "Abbreviation", required = TRUE) }}
                        {{ form.postal_code(id = "Postal_Code", required = TRUE) }}
                        {{ form.street(id = "Street", required = TRUE) }}
                        {{ form.street_number(id = "Street_Number", required = TRUE) }}
                        {{ form.city(id = "City", required = True) }}
                        {{ form.min_edu_budget(id = "Min_Edu_Budget", required = True, placeholder="no commas") }}
                        <h8><br>no commas in MinEdu Budget</h8>
                    </div>
                      
                </form>
            </div>
            <div class="modal-footer">
                {{ form.submit(class = "btn btn btn-success", form = "modal-form", value = "Update") }}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Delete modal -->
<div class = "modal fade" id="deleteModal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title" id = "deleteModalLabel">Delete university</h5>
                <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
            </div>
            <div class = "modal-body">
                Are you sure?
            </div>
            <div class = "modal-footer">
                <button type = "button" class = "btn btn-secondary" data-bs-dismiss = "modal">Close</button>
                <form id = "delete-modal-form">
                    <input type = "submit" class = "btn btn-danger" value = "Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Phone modal -->
<div class = "modal fade" id="phoneModal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title" id = "deleteModalLabel">Insert new phone to this university</h5>
                <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
            </div>
            <div class = "modal-footer">
                <button type = "button" class = "btn btn-secondary" data-bs-dismiss = "modal">Close</button>
                <form id = "phone-modal-form">
                    <input type = "submit" class = "btn btn btn-success" value = "Add">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function setModalFields(row) {
        document.getElementById("ID").value = row.getAttribute("data-ID");
        document.getElementById("Name").value = row.getAttribute("data-Name");
        document.getElementById("Abbreviation").value = row.getAttribute("data-Abbreviation");
        document.getElementById("Postal_Code").value = row.getAttribute("data-Postal_Code");
        document.getElementById("Street").value = row.getAttribute("data-Street");
        document.getElementById("Street_Number").value = row.getAttribute("data-Street_Number");
        document.getElementById("City").value = row.getAttribute("data-City");
        document.getElementById("Min_Edu_Budget").value = row.getAttribute("data-min_edu_budget");
        document.getElementById("modal-form").action = "/university/update/" + row.getAttribute("data-ID");
        document.getElementById("modal-form").method = "POST";
        // document.getElementById("submit").addEventListener("click", (e) => {e.preventDefault();});
        // commented line above would prevent the default behavior of the submit button, that is, sending the
        // form data with a post request to the determined address and subsequently closing the pop-up
    }

    function setDeleteModalFields(row) {
        document.getElementById("delete-modal-form").action = "/university/delete/" + row.getAttribute("data-ID");
        document.getElementById("delete-modal-form").method = "POST";
    }

    function setPhoneModalFields(row) {
        document.getElementById("phone-modal-form").action = "/university/phone/" + row.getAttribute("data-ID");
        document.getElementById("phone-modal-form").method = "POST";
    }
</script>
{% endblock content %}
