{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}

    <div class="col-md-3">
        <form class="form-horizontal" name="student-form" method="POST">
            <!-- hidden_tag returns the form's security metadata -->
            {{ form.hidden_tag() }}
    </div>
    <div class="row">
        <div class="column row-3 mb-3">
            <div class="form-group col-sm-3 mb-3">
                {{ form.Title.label(class = "form-label") }}
                <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                {{ form.Title(class = "form-control", placeholder="Enter Title", required = False) }}
                {% if form.Title.errors %}
                <ul class="errors">
                    {% for error in form.Title.errors %}
                    <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-group col-sm-3 mb-3">
                <label for="start">Starting Date :</label>
                <br>
                <input type="date" id="start" name="Start_Date" min="1950-01-01" max="2050-12-31">


            </div>

            <div class="form-group col-sm-3 mb-3">
                <label for="start">Ending Date :</label>
                <br>
                <input type="date" id="start" name="End_Date" min="1950-01-01" max="2054-12-31">

                <!--{{ form.End_Date.label(class = "form-label") }}
                {{ form.End_Date(class = "form-control", placeholder="Enter End Date", required = False) }}
                {% if form.End_Date.errors %}
                <ul class="errors">
                    {% for error in form.End_Date.errors %}
                    <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}-->
            </div>

            <div class="form-group col-sm-3 mb-3">
                {{ form.Summary.label(class = "form-label") }}
                {{ form.Summary(class = "form-control", placeholder="Enter Summary", required = False) }}
                {% if form.Summary.errors %}
                <ul class="errors">
                    {% for error in form.Summary.errors %}
                    <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="form-group col-sm-3 mb-3">
                {{ form.Funding.label(class = "form-label") }}
                {{ form.Funding(class = "form-control", placeholder="Enter Funding", required = False) }}
                {% if form.Funding.errors %}
                <ul class="errors">
                    {% for error in form.Funding.errors %}
                    <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="form-group col-sm-3 mb-3">
                <label>Choose an Executive:</label>
                <select name="Executive_ID">
                    <option selected disabled> </option>
                    {% for e in exec %}
                    <option value="{{ e.ID }}">{{ e.ID }}: {{ e.First_Name }} {{ e.Last_Name }}</option>
                    {% endfor %}
                </select>
                <!--{{ form.Executive_ID.label(class = "form-label") }}
                {{ form.Executive_ID(class = "form-control", placeholder="Enter Executive ID", required = False) }}
                {% if form.Executive_ID.errors %}
                <ul class="errors">
                    {% for error in form.Executive_ID.errors %}
                    <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}-->
            </div>


            <div class="form-group col-sm-3 mb-3">
                <label>Choose a Program :</label>
                <select name="Program_ID">
                    <option selected disabled> </option>
                    {% for p in progs %}
                    <option value="{{ p.id }}">{{ p.id }} - {{ p.name }}</option>
                    {% endfor %}
                </select>

            </div>
        </div>

        <div class="column row-3 mb-3">

            <div class="form-group col-sm-3 mb-3">
                <label>Choose a Foundation :</label>
                <select name="Foundation_ID">
                    <option selected disabled> </option>
                    {% for f in fids %}
                    <option value="{{ f.id }}">{{ f.id }} - {{ f.name }}</option>
                    {% endfor %}
                </select>
                <!--{{ form.Foundation_ID.label(class = "form-label") }}
                {{ form.Foundation_ID(class = "form-control", placeholder="Enter Foundation ID", required = False) }}
                {% if form.Foundation_ID.errors %}
                <ul class="errors">
                    {% for error in form.Foundation_ID.errors %}
                    <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}-->
            </div>


            <div class="form-group col-sm-3 mb-3">
                <label>Choose a Manager:</label>
                <select name="Researcher_ID_Boss">
                    <option selected disabled> </option>
                    {% for r in ress %}
                    <option value="{{ r.id }}">{{ r.id }}: {{ r.last_name }} {{ r.first_name }}</option>
                    {% endfor %}
                </select>
                <!--{{ form.Researcher_ID_Boss.label(class = "form-label") }}
                {{ form.Researcher_ID_Boss(class = "form-control", placeholder="Enter Researcher ID Boss", required =
                False)
                }}
                {% if form.Researcher_ID_Boss.errors %}
                <ul class="errors">
                    {% for error in form.Researcher_ID_Boss.errors %}
                    <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}-->
            </div>
            <div class="form-group col-sm-3 mb-3">
                <label>Choose an Evaluator:</label>
                <select name="Researcher_ID_eval">
                    <option selected disabled> </option>
                    {% for r in ress %}
                    <option value="{{ r.id }}">{{ r.id }}: {{ r.last_name }} {{ r.first_name }}</option>
                    {% endfor %}
                </select>
                <!--{{ form.Researcher_ID_eval.label(class = "form-label") }}
                {{ form.Researcher_ID_eval(class = "form-control", placeholder="Enter Evaluator's ID", required = False)
                }}
                {% if form.Researcher_ID_eval.errors %}
                <ul class="errors">
                    {% for error in form.Researcher_ID_eval.errors %}
                    <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}-->
            </div>


            <div class="form-group col-sm-3 mb-3">
                <label for="start">Evaluation Date :</label>
                <br>
                <input type="date" id="start" name="Evaluation_Date" min="1950-01-01" max="2050-12-31">

                <!--{{ form.Evaluation_Date.label(class = "form-label") }}
                {{ form.Evaluation_Date(class = "form-control", placeholder="Enter Evaluation Date", required = False)
                }}
                {% if form.Evaluation_Date.errors %}
                <ul class="errors">
                    {% for error in form.Evaluation_Date.errors %}
                    <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}-->
            </div>
            <div class="form-group col-sm-3 mb-3">
                {{ form.Evaluation_Grade.label(class = "form-label") }}
                {{ form.Evaluation_Grade(class = "form-control", placeholder="Enter Evaluation Grade", required = False)
                }}
                {% if form.Evaluation_Grade.errors %}
                <ul class="errors">
                    {% for error in form.Evaluation_Grade.errors %}
                    <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>


            <div class="form-group col-sm-3 mb-3">
                <label>Choose a Scientific Field:</label>
                <select name="Scientific_Field_Name">
                    <option selected disabled> </option>
                    {% for s in sci %}
                    <option value="{{ s.Name }}">{{ s.Name }}</option>
                    {% endfor %}
                </select>
                <!--{{ form.Scientific_Field_Name.label(class = "form-label") }}
                {{ form.Scientific_Field_Name(class = "form-control", placeholder="Enter Scientific Field Name",
                required =
                False) }}
                {% if form.Scientific_Field_Name.errors %}
                <ul class="errors">
                    {% for error in form.Scientific_Field_Name.errors %}
                    <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}-->
            </div>

            <div class="form-group col-sm-10 mb-3">
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
                <a class="btn btn-primary" id="show-btn" href="/project">Back</a>
            </div>
            </form>

        </div>
    </div>
</div>
{% endblock content %}