{% extends "global_layout.html" %}
{% block content %}

<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if workers|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Workers found!</h1>
                {% else %}
                    <div class="table-responsive">                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <a class="btn btn-primary" id="show-btn" href="/workers/create">Add new Relation</a>
                                    <th>SSN</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Project ID</th>
                                    <th>Title</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in workers %}
                                    <tr>
                                        <td> {{ res.res_id }} </td>
                                        <td> {{ res.first_name }} </td>
                                        <td> {{ res.last_name }} </td>
                                        <td> {{ res.Project_ID }} </td>
                                        <td> {{ res.title }}</td>
                                        <td>
                                            <button style = "all: unset; cursor: pointer;" type = "button"
                                            data-bs-toggle = "modal" data-bs-target = "#deleteModal"
                                            data1-ID = "{{ res.res_id }}" data2-ID = "{{ res.Project_ID }}"
                                            onclick = "setDeleteModalFields(this)">
                                                <i class = "fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete modal -->
<div class = "modal fade" id="deleteModal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title" id = "deleteModalLabel">Delete this work relation</h5>
                <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
            </div>
            <div class = "modal-body">
                Are you sure?
            </div>
            <div class = "modal-footer">
                <button type = "button" class = "btn btn-secondary" data-bs-dismiss = "modal">Close</button>
                <form id = "delete-modal-form">
                    <input type = "submit" class = "btn btn-danger" value = "Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<script>

</script>

<script>

    function setDeleteModalFields(row) {
        document.getElementById("delete-modal-form").action = "/workers/delete/" 
        + row.getAttribute("data1-ID") + "/" + row.getAttribute("data2-ID");
        document.getElementById("delete-modal-form").method = "POST";
    }
</script>
{% endblock content %}
